@import 'tailwindcss';

@theme {
  --color-sd-colors-surface: hsl(120, 100%, 50%);
  --color-sd-colors-secondary: hsl(240, 100%, 50%);
  --color-sd-theme-content: hsl(0, 0%, 0%);
  --spacing-around-card: 16px;
  --spacing-between-card: 16px;
  --card-vertical-padding: 16px;
  --card-horizontal-padding: 16px;
  --card-border-radius: 4px;
  --card-gap: 16px;
}

@layer base {
  [data-theme="dark"] {
    --color-sd-theme-content: hsl(0, 0%, 100%);
  }

  [data-theme="brand"] {
    --color-sd-theme-content: hsl(0, 100%, 50%);
  }
}

@utility stack {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@utility row {
  display: flex;
  flex-direction: row;
}
